@page
@model RequestModel
@{ ViewBag.Name = "Request"; }
<ul>
	<li>
		<strong>Host: </strong>@Request.Host
	</li>
	<li>
		<strong>Host.Host: </strong>@Request.Host.Host
	</li>
	<li>
		<strong>Host.Port: </strong>@Request.Host.Port
	</li>
	<li>
		<strong>IsHttps: </strong>@Request.IsHttps
	</li>
	<li>
		<strong>Host.Protocol: </strong>@Request.Protocol
	</li>
	<li>
		<strong>Scheme: </strong>@Request.Scheme
	</li>
</ul>
<h2 class="h4">Request-headers</h2>
@if(!Request.Headers.Any())
{
	<div class="alert alert-warning mt-3">
		No request-headers.
	</div>
}
else
{
	<ul>
		@foreach(var header in Request.Headers.OrderBy(header => header.Key))
		{
			<li>
				<strong>@header.Key: </strong>@header.Value
			</li>
		}
	</ul>
}